/* 2017-12-5 14:44:06 | 修改 木遥（微信:  http://marsgis.cn/weixin.html ） */
.toolBar {
    position: absolute; 
    /*top: 10px;
    right: 10px;*/
    z-index: 19910501;
    background: #FFF;
    border-radius:3px;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
} 
.toolBar i {
    padding-right: 5px;
} 

.toolBar-btn { 
    list-style-type: none; 
    cursor: pointer;
    border-right: solid 1px #eee;
    color: #575c6e;
} 
.toolBar-btn .btn-link a{ 
    text-decoration:none;
} 
.toolBar-btn:hover {
    color: #3385ff;
}

.layui-layer-title i {
    margin-right: 10px;
}